*{
  
  width: 80%;
  margin: 0 auto;
}
tr:nth-child(2n){
    background-color: white;
}
  tr:nth-child(2n+1){
    background-color: #ccc;
}  
tr:first-child{
  background-color: rgb(28, 119, 199);
  color: white;
}
table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgb(102, 174, 236);
}
#ab{
  background-color: rgb(28, 119, 199);
  color: white;
}
td{
  border: 1px solid blue;
  padding: 10px;
}
tr{
  border: 1px solid blue;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}